body{
    background-color: rgb(0, 164, 240);
    color:rgb(3, 23, 49);
    font-family: "Goudy Bookletter 1911", serif;
    background-image: url(../img/backgroundimage.jpg)
      }
      
img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    display: block;}

.imgp{
    text-align: center;
}
    
.linha {
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
    
.col-3 {
    width: 25%;
}

.col-3 p {
    font-size: 1rem;
    text-align: center;
}

.imggaleria {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.video {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 2%;
    display: block;
}

header{
    background-color: rgb(0, 47, 175);
    padding: 3%;

}

.logo{
    background-color: rgb(0, 47, 175);
    width: 5%;
}

.menu{
    color: aliceblue;
}

nav{ 
    background-color: rgb(0, 47, 175);
}

main{
    background-color: rgb(236, 248, 253);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section{
    background-color: rgb(236, 248, 253);
}

footer{
    background-color: rgb(0, 47, 175);
    padding: 3%;
}

h1{
    background-color: rgb(182, 232, 255);
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h1,h2 {
    line-height: 3;
}

p {
    line-height: 1.5;
    font-size: 1.2em;
    margin-left: 3%;
    margin-right: 3%;
}

ul li {
    line-height: 1.5;
    font-size: 1.2em;
    text-align: center;
}

.icone{
    list-style-type: none;
}

.titulos {
    line-height: 3;
    text-align: center;
    font-weight: bold;
}

table {
border-collapse:collapse ;
width: 80%;
font-size: 1.2em;
margin-left: auto;
margin-right: auto;
margin-bottom: 2%;
}

td,th {
border: 5px dashed rgb(0, 89, 255);
padding: 1.5%;
}

tr:nth-child(even) {
    background-color: rgb(182, 232, 255);
}

.referencias{ 
    text-align: center;
}

a.referencias:link {color:#0099ff;}
a.referencias:visited {color:#2e8bc9;}
a.referencias:hover {font-size:150%;}

a.menua:link {
    color:rgb(241, 241, 241);
    font-size: 1.5em;
}

a.menua:visited {
    color:rgb(120, 212, 255);
    font-size: 1.5em;
} 

a.menua:hover {font-size: 2.0em;}
