body{
    background-color: rgb(0, 164, 240);
    color:rgb(3, 23, 49);
    font-family: "Goudy Bookletter 1911", serif;
    background-image: url(../img/backgroundimage.jpg)
      }
      
img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    display: block;}

.positionimg {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    display: block;}

.toystory{
    width: 50%;
}

.imgp{
    text-align: center;
}
    
.linha, .row {
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
    
.col-3 {
    width: 25%;
}

.col-3 p {
    font-size: 1rem;
    text-align: center;
}

.imggaleria {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

div.video {
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 55%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
} 

header{
    background-color: rgb(0, 47, 175);
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;   
    background-color: rgb(65, 105, 225,);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.logo{
    background-color: rgb(0, 47, 175);
    width: 5%;
}

.menu{
    color: aliceblue;
}

nav{ 
    background-color: rgb(0, 47, 175);
}

main{
    background-color: rgb(236, 248, 253);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
}

section{
    background-color: rgb(236, 248, 253);
}

footer{
    background-color: rgb(0, 47, 175);
    padding: 3%;
}

footer p{
    color: white;
}

h1{
    background-color: rgb(182, 232, 255);
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h1,h2 {
    line-height: 3;
}

p {
    line-height: 1.5;
    font-size: 1.2em;
    margin-left: 3%;
    margin-right: 3%;
}

ul li {
    line-height: 1.5;
    font-size: 1.2em;
    text-align: center;
}

.icone{
    list-style-type: none;
    text-align:left;
}

.titulos {
    line-height: 3;
    text-align: center;
    font-weight: bold;
}

table {
    border-collapse :collapse ;
    width: 80%;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

td,th {
    border: 5px dashed rgb(0, 89, 255);
    padding: 1.5%;
}

tr:nth-child(even) {
    background-color: rgb(182, 232, 255);
}

.referencias{ 
    text-align: center;
    font-size: 1.1em;
}

a.referencias:link {color:#0099ff;}
a.referencias:visited {color:#2e8bc9;}
a.referencias:hover {
    color: #224bbd;
    font-size: 1.2em ;
}

a.menua:link {
    color:#93d3fd;
    font-size: 1.0em;

}

a.menua:visited {
    color:#93d3fd;
    font-size: 1.0em;
}

a.menua:hover {
    background:rgb(0, 28, 104);
    color:#b6e1fd;
    font-family: "Major Mono Display", monospace;
    font-size: 1.1em;
}

.floatdireita{
    float: right;
    width: 15%;
}

.floatesquerda{
    float: left;
    width: 15%;
}
  
#menu-toggle {
    display: none;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}


nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}



@media screen and (max-width: 1100px) {

   [class*="col-3"] {
    width: 50%;
   }
  
}

@media screen and (max-width: 768px) {

    [class*="col-3"] {
    width: 100%;
    }

    .menu-icon {
        display: block;
        padding-right: 10px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgb(65, 105, 225, 0.8 );
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1;
        padding: 0;
    }

    #menu-toggle:checked + .menu-icon + ul {
        display: flex;
    }

    nav ul li {
        text-align: center;
        margin: 0;
    }

    nav ul li a {
        padding: 15px 0;
    }

    nav ul li label {
        /* width: 100%; */
        display: block;
    }
       
}

  .texto_img{
    position: absolute;
    top: 40%;
    bottom: 600%;
    width: 100%;
    text-align: center;
    font-size: 8vw;
    color: aliceblue;
    text-shadow: 2px 2px 5px rgb(0, 89, 255);
  }


.inicio2{
    position: relative;
}

.imgposition{
    margin-left: auto ;
    margin-right: auto;
    width: 80%;
    display: block;   
    opacity: 75%;
    padding-bottom: 1%;
}

.topleft{
    position: absolute;
    top: 5%;
    left: 14%;
    font-size: 2vw;
    color: aliceblue;
    
}

.topright {
    position: absolute;
    top: 5%;
    right: 14%;
    font-size: 2vw;
    color: aliceblue;

}

  .bottomleft {
    position: absolute;
    bottom: 5%;
    left: 14%;
    font-size: 2vw;
    color: aliceblue;
}

.bottomright {
    position: absolute;
    bottom: 5%;
    right: 14%;
    font-size: 2vw;
    color: aliceblue;
}

